<section>
    <div class="col-md-3 text-left">
        <div class="col-md-12 col-sm-4 col-xs-12">
            <img src="src/images/kenneth.jpg" class="img img-rounded owner-pic center-block">
        </div>
        <div class="col-md-12 col-sm-8 col-xs-12">
            <h2><b>{{resumeDetails.name}}</b></h2>
            <p><i class="fa fa-map-marker"></i>&nbsp;{{resumeDetails.address}}</p>
            <p><i class="fa fa-code "></i>&nbsp;{{resumeDetails.occupation}}</p>
            <p><i class="fa fa-globe "></i>&nbsp;{{resumeDetails.website}}</p>
        </div>

    </div>
    <div class="col-md-9 pull-left">
        <h3><i class="fa fa-star"></i><b>&nbsp;Objective</b></h3>
        <p>{{resumeDetails.objective}}</p>
        <hr>

        <h3><i class="fa fa-graduation-cap"></i><b>&nbsp;Education</b></h3>
        <h4>{{resumeDetails.education.school}} <small class="pull-right">{{resumeDetails.education.year}}</small></h4>
        <p>{{resumeDetails.education.location}}</p>
        <p>{{resumeDetails.education.course}} </p>

        <hr>
        <h3><i class="fa fa-certificate"></i><b>&nbsp;Experiences</b></h3>
        <div ng-repeat="exp in resumeDetails.experience">
            <h4><b>{{exp.employer}}</b> <small class="pull-right">{{exp.startDate | date: "MMM dd yyyy"}} - {{exp.endDate | date: "MMM dd yyyy"}}</small></h4>
            <p>{{exp.position}}</p>
        </div>
    </div>

</section>
<section>
    <div class="col-md-12">
        <h1>Skills</h1>
        <div class="col-md-4">            
            <h2>Most Experienced</h2>
            <ul>
                <li ng-repeat="skill in resumeDetails.skills.mostExperienced">
                    {{skill}}
                </li>
            </ul>
        </div>
        <div class="col-md-4">            
            <h2>Basic Knowledge</h2>
            <ul>
                <li ng-repeat="skill in resumeDetails.skills.basicKnowledge">
                    {{skill}}
                </li>
            </ul>
        </div>
         <div class="col-md-4">            
            <h2>Tools</h2>
            <ul>
                <li ng-repeat="skill in resumeDetails.skills.tools">
                    {{skill}}
                </li>
            </ul>
        </div>
    </div>
</section>
