<section>
    <a href="#/connect" class="page-link right"><i class="glyphicon glyphicon-chevron-right fa-5x"></i></a>
    <a href="#/" class="page-link left"><i class="glyphicon glyphicon-chevron-left fa-5x"></i></a>
    <div class="col-md-4 text-left">
        <div class="col-md-12 col-sm-4 col-xs-12">
            <img src="src/images/kenneth.jpg" class="img img-rounded owner-pic center-block">
        </div>
        <div class="col-md-12 col-sm-8 col-xs-12">
            <h2><b>{{resumeDetails.name}}</b></h2>
            <p><i class="fa fa-map-marker"></i>&nbsp;{{resumeDetails.address}}</p>
            <p><i class="fa fa-code "></i>&nbsp;{{resumeDetails.occupation}}</p>
            <p><i class="fa fa-globe "></i>&nbsp;{{resumeDetails.website}}</p>
        </div>

    </div>
    <div class="col-md-8 pull-left">
        <!-- <h3><i class="fa fa-star fa-fw"></i><b>Objective</b></h3> -->
        <br>
        <h4 style="color: white">{{resumeDetails.objective}}</h4>
        <hr>

        <h3><i class="fa fa-graduation-cap fa-fw"></i><b> Education</b></h3>
        <h4>{{resumeDetails.education.school}} <small class="pull-right">{{resumeDetails.education.year}}</small></h4>
        <p>{{resumeDetails.education.location}}</p>
        <p>{{resumeDetails.education.course}} </p>

        <hr>
        <h3><i class="fa fa-certificate fa-fw"></i><b>Experiences</b></h3>
        <div ng-repeat="exp in resumeDetails.experience">
            <h4><b>{{exp.employer}}</b> <small class="pull-right">{{exp.startDate | date: "MMM dd yyyy"}} - {{exp.endDate | date: "MMM dd yyyy"}}</small></h4>
            <p>{{exp.position}}</p>
	    <br/>
        </div>

        <!-- <h3><i class="fa fa-code fa-fw"></i>Skills</h3> -->
        <!-- <div class="col-sm-12">
            <h4>Most Experienced</h4>
            <div class=row>
                <div ng-repeat="skill in resumeDetails.skills.mostExperienced" class="col  col-xs-6 col-sm-4 col-md-4" style="margin:20px 0px; min-height:150px; max-height:150px">
				
				<img src="src/logos/{{skill}}.svg" class="img img-rounded col-xs-12 col-sm-8" style="max-height:150px">		
				<text class="col-xs-12 text-left">{{skill}}</text>
                </div>
            </div>
        </div> -->
        <!--<div class="col-md-4">
            <h4>Basic Knowledge</h4>
            <ul>
                <li ng-repeat="skill in resumeDetails.skills.basicKnowledge">{{skill}}
				
                </li>
            </ul>
        </div> -->
        <!-- <div class="col-sm-12">
            <h4>Tools</h4>
           <div class=row>
                <div ng-repeat="skill in resumeDetails.skills.tools" class="col  col-xs-6 col-sm-4 col-md-4" style="margin:20px 0px; min-height:150px; max-height:150px">
				
				<img src="src/logos/{{skill}}.svg" class="img img-rounded col-xs-12 col-sm-8" style="max-height:150px">		
				<text class="col-xs-12 text-left">{{skill}}</text>
                </div>
            </div>
        </div> -->

    </div>

</section>
<section>
</section>
