<section class="text-center center-block welcome" >
    <img class="img-circle" style="max-width: 200px;" src="https://scontent-hkg3-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/11112941_969227929768979_9115772204709869925_n.jpg?oh=eb54fd73b6e34149f831d259de4b99ba&oe=5675EAF5" />
    <h1>Hello, I'm Kenneth Bolico</h1>
    <p>
        I'm a Web Back-End and Front-End Developer. My main interest/skills are in Javascript technologies such as
        NodeJS, AngularJS, BackboneJS, JQuery, and many more, and NoSQL database like MongoDB. Also have experience and knowledge in other technologies like C#, 
        Java, Php, Laravel, PostgresSQL, MySQL etc.
        <br />
        <br />
        I am a very passionate developer. Learning new things is very addicting, so whenever an opportunity to learn comes, I grab it.
        <br />
        <br />
        Pizza is LOVE. Code is LOVE.
    </p>
</section>
<!--<div class="pull-right" style="position: absolute; right: 0px;">
    <i class="glyphicon glyphicon-chevron-right" ></i>
</div>-->
