body
{    
    background: linear-gradient(360deg, rgb(0,80,90), rgb(0,0,0),rgb(0,38,58));
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Tahoma, Geneva, Verdana, sans-serif ;
    color: whitesmoke;
    overflow-x: hidden;
}

*
{
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


::selection {
    text-shadow: none;    
    background: rgba(0,0,0,0.8);
    color: white;
}

h1, h2, h3, h4, h5
{    
    color: rgb(0,175,175);
    font-weight: 400;
    letter-spacing: 1px;
}

b
{
    font-weight: 400;
}

hr
{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255,255,255,0.2), rgba(0, 0, 0, 0));
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

p,li
{
    letter-spacing: .75px;
    font-weight: 200 !important;
    font-size: 110%;
}

ul
{
    padding-left: 10px;
}

li {
    list-style: hanging;
}

li.logo-holder
{
    height: 60px;
    max-width: 60px;
    display: inline-block;
    margin: 5px 15px 0px 15px;
}

.logo:hover
{
    transform: scale(1.2);
}

li.logo-holder .logo
{
    height: 40px;
    width: 40px;
}

.project.logo
{
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

img.owner-pic
{
    max-width: 200px;
    max-height: 200px;
}

div.footer
{
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    height: 120px;
    margin: 0 auto 10px auto;
    width: 23.5%;
}

.footer img
{
    height: 80px;
    width: 100px;
}

@media all and (max-width:768px)
{
    img.owner-pic
    {
        float: left;
        height: 175px;
    }

    div.logo-group
    {
        float: left;
        display: inline-block;
    }
}

.container
{
    max-width: 950px;
     margin-top: 5%;
}

section.welcome
{
    max-width: 500px;
}

nav .container-fluid
{
    top: 0px;
    padding: 0px;
    margin: 0px;
}

nav .nav-menu
{
    top: 10%;
    background-color: rgba(0,175,175,0.9) !important;
    position: fixed;
    height: 90%;
    width: 100%;
    z-index: 100;
    display: block;
}

    nav .nav-menu > .nav-item
    {
        height: 100%;
        text-align: center;
        border: rgba(255,255,255,0.5) solid 1px;
        padding-top: 5%;
    }

    nav .nav-menu > a.nav-item
    {
        color: white !important;
        text-decoration: none;
    }

        nav .nav-menu > a.nav-item:hover
        {
            color: rgb(0,175,175) !important;
            background-color: rgba(0,0,0,0.9) !important;
        }

            nav .nav-menu > a.nav-item:hover .caption
            {
                color: rgb(0,175,175);
            }

    nav .nav-menu > .nav-item .caption
    {
        color: rgb(0,38,58);
    }

.btn
{
    color: cyan;
}

    .btn:hover
    {
        color: cyan;
    }

.page-link{
    position: absolute;
    top: 50%;    
    color: cyan;    
}

    .page-link.right {
        right: 9.5%;
    }

    .page-link.left {
        left: 9.5%;
    }

    .page-linK:hover {
        color: black;
    }

    .page-link:active {
        color: cyan;
    }

@media only screen and (max-width: 1200px) {
    .page-link {
        visibility: hidden;
    }
}

@-webkit-keyframes rollIn
{
    from
    {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }

    to
    {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes rollIn
{
    from
    {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }

    to
    {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.rollIn
{
    -webkit-animation-name: rollIn;
    animation-name: rollIn;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes rollOut
{
    from
    {
        opacity: 1;
    }

    to
    {
        opacity: 0;
        visibility: hidden !important;
        display: none;
        -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
        transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    }
}

@keyframes rollOut
{
    from
    {
        opacity: 1;
    }

    to
    {
        opacity: 0;
        visibility: hidden !important;
        display: none;
        -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
        transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    }
}

.rollOut
{
    -webkit-animation-name: rollOut;
    animation-name: rollOut;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: hidden !important;
}






@keyframes rotateFall
{
    0%
    {
        transform: rotateZ(0deg);
    }

    20%
    {
        transform: rotateZ(10deg);
        animation-timing-function: ease-out;
    }

    40%
    {
        transform: rotateZ(17deg);
    }

    60%
    {
        transform: rotateZ(16deg);
    }

    100%
    {
        transform: translateY(100%) rotateZ(17deg);
    }
}

/* slide in from the bottom */
@keyframes slideOutLeft
{
    to
    {
        transform: translateX(-100%);
    }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper
{
    to
    {
        transform: translateZ(-3000px) rotateZ(360deg);
        opacity: 0;
    }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp
{
    from
    {
        opacity: 0.3;
        -webkit-transform: scale(0.8);
    }
}

/* slide in from the right */
@keyframes slideInRight
{
    from
    {
        transform: translateX(100%);
    }

    to
    {
        transform: translateX(0);
    }
}

/* slide in from the bottom */
@keyframes slideInUp
{
    from
    {
        transform: translateY(100%);
    }

    to
    {
        transform: translateY(0);
    }
}


.ng-enter
{
    animation: slideInRight 1.5s both ease-in;
    z-index: 8888;
}

.ng-leave
{
    position: absolute;
    background-color: black;
    color: white;
    padding: 30px;
    animation: rotateFall 1.5s both ease-in;
    z-index: 9999;
}


.page-home.ng-enter
{
    animation: scaleUp 0.5s both ease-in;
}

.page-home.ng-leave
{
    transform-origin: 0% 0%;
    animation: rotateFall 1s both ease-in;
}

/* about ------------------------ */
.page-about.ng-enter
{
    animation: slideInRight 0.5s both ease-in;
}

.page-about.ng-leave
{
    animation: slideOutLeft 0.5s both ease-in;
}

/* contact ---------------------- */
.page-contact.ng-leave
{
    transform-origin: 50% 50%;
    animation: rotateOutNewspaper .5s both ease-in;
}

.page-contact.ng-enter
{
    animation: slideInUp 0.5s both ease-in;
}

@-moz-keyframes swing{
    0%{-moz-transform:rotate(-5deg)}
    50%{-moz-transform:rotate(5deg)}
    100%{-moz-transform:rotate(-5deg)}
}
@-webkit-keyframes swing{
    0%{-webkit-transform:rotate(-5deg)}
    50%{-webkit-transform:rotate(5deg)}
    100%{-webkit-transform:rotate(-5deg)}
}

.my-pic {
    -moz-animation: 2s ease normal none infinite swing;
    -moz-transform-origin: center top;
    -webkit-animation:swing 2s infinite ease-in-out;
    -webkit-transform-origin:top;

}



@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.page-link {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
